.hero {
  text-align: center;
  background-color: #f9f7fe;
  padding: 100px 20px 50px 20px;
}

.hero h1 {
  font-size: 76px;
  font-family: "Calligraffitti", cursive, "Yuji Boku", serif;
}
.hero h2 {
  font-size: 36px;
  font-family: "Xanh Mono", monospace;
}

.hero h4 {
  font-size: 25px;
  font-family: "Xanh Mono", monospace;
}

.btn-branding {
  background-color: #6c63ff;
  color: white;
  padding: 15px 15px 15px 15px;
  margin: 30px 30px 30px 30px;
}
