body {
  background-color: rgb(168, 176, 183);
}

.hero {
  text-align: center;
  background-color: rgb(100, 106, 112);
  padding: 100px 20px 50px 20px;
  color: white;
}

.hero h1 {
  font-size: 76px;
  font-family: "Calligraffitti", cursive, "Yuji Boku", serif;
}
.hero h2 {
  font-size: 36px;
  font-family: "Xanh Mono", monospace;
}

.hero h4 {
  font-size: 25px;
  font-family: "Xanh Mono", monospace;
}

.btn-branding {
  background-color: #6c63ff;
  color: white;
  padding: 15px 15px 15px 15px;
  margin: 30px 30px 30px 30px;
}

.visit-us {
  text-align: center;
  font-size: 40px;
  font-family: "Calligraffitti", cursive, "Yuji Boku", serif;
  color: white;
}

.about-us-description p {
  color: white;
  font-family: "Xanh Mono", monospace;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  margin: 0 auto;
  padding: 50px 0 50px 0;
}

.operation {
  color: white;
  font-family: "Xanh Mono", monospace;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  margin: 0 auto;
  padding: 20px 0 20px 0;
}

.operation ul {
  list-style: none;
}
