:root {
  --primiary-color: rgba(100, 106, 112);
  --secondary-color: rgb(168, 176, 183);
  --text-color: white;
  --primary-font-family: "Calligraffitti", cursive, "Yuji Boku", serif;
  --secondary-font-family: "Xanh Mono", monospace;
  --box-shadow: 9px 9px 5px rgba(100, 106, 112, 0.5);
  --border: 1.5px solid white;
}

body {
  background-color: var(--secondary-color);
  text-align: center;
}

img {
  border-radius: 15px;
  border: var(--border);
  box-shadow: var(--box-shadow);
}

.hero {
  background-color: var(--primiary-color);
  padding: 100px 20px 50px 20px;
  color: var(--text-color);
}

.hero h1 {
  font-size: 76px;
  font-family: var(--primary-font-family);
}

.hero h2 {
  font-size: 36px;
  font-family: var(--secondary-font-family);
}

.hero h4 {
  font-size: 25px;
  font-family: var(--secondary-font-family);
}

.coffee-icon {
  color: var(--text-color);
  font-size: 150px;
}

.map-icon {
  color: var(--text-color);
  font-size: 50px;
}

.contact-us,
.menu-link,
.event-link {
  display: flex;
  justify-content: center;
}
.btn-branding-contact,
.btn-branding-menu,
.btn-branding-event {
  background-color: rgb(100, 106, 112);
  color: var(--text-color);
  font-family: var(--primary-font-family);
  font-size: 30px;
  line-height: 15px;
  padding: 20px 30px;
  border-radius: 5px;
  border: var(--border);
  box-shadow: 5px 5px 5px rgba(100, 106, 112, 0.5);
}

.btn-branding-contact:hover {
  color: var(--text-color);
}

.visit-us {
  font-size: 40px;
  font-family: var(--primary-font-family);
  color: var(--text-color);
}

.about-us-description p {
  color: var(--text-color);
  font-family: var(--secondary-font-family);
  font-size: 20px;
  line-height: 30px;

  margin: 0 auto;
  padding: 30px 0 30px 0;
}

.operation {
  color: var(--text-color);
  font-family: var(--secondary-font-family);
  font-size: 20px;
  line-height: 30px;

  margin: 0 auto;
  padding: 20px 0 20px 0;
}

.operation li {
  list-style: none;
}

@media (max-width: 576px) {
  .about-us-description p,
  .operation p,
  .hours {
    font-size: 16px;
    line-height: 20px;
    display: inline;
  }
}
